


# editors, editor packages, etc 
*.vscode 

# temporary 
A2/*
!A2/Scheduler*
!A2/Main*
!A2/PCB*
!A2/Final*

# documents, etc. 
*.docx
*.doc 
*.pdf
*.png
*.jpg
Diepenbrock/
Resources/
OTHER/
A4/P4_CMPS431/


# cpp 
a.out 

